name: CD - Self Hosted Nginx

on:
  workflow_run:
    workflows: ["CI - HTML validation"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to nginx folder
        run: |
          cp index.html /var/www/eval-devops/index.html
